.introduction
 {
    padding-left: 10.9vw;
    background-color: blanchedalmond;
    background-image: url(/Images/First_background.jpg);
    background-size: cover;
    height: 80vw;
    width: 100vw;
    animation-name: back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    overflow: hidden;
}
@keyframes back 
{
    0%,100%  {background-image: url("https://images.unsplash.com/photo-1514519334989-3d5c8b1a9f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); transition:5sec;}
    25% {background-image: url("https://images.unsplash.com/photo-1481007553706-bde1ba8e91fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); transition:5sec;}
    50% {background-image: url("https://images.unsplash.com/photo-1541119638723-c51cbe2262aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"); transition:5sec;}
    75% {background-image: url("https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1346&q=80"); transition:5sec;}
}

.textarea 
{
    display: flex;
    flex-direction: column;
    margin-left: 21vw;
    width: 37vw;
    height: 3vw;
    /* border: 2px solid black; */
    margin-top: 20.1vw;
    display: flex;
}

.nav 
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15vw;
    padding-right: 52vw;
}
.nav-items a 
{
    padding: 2.3vw;
    font-family: 'Concert One', cursive;
    font-size: 3vw;
}

.company-name 
{
    position: relative;
    bottom: -1vw;
    right: -57.4vw;
    font-size: 10.5vw;
    font-family: 'Concert One', cursive;
}
.heading {
    /* border: 2px solid red; */
    font-size: 4vw;
    padding-bottom: 2vw;
    width: 36vw;
    font-family: 'Concert One', cursive;
    text-align: center;
}
.info-text {
    /* border: 2px solid red; */
    font-size: 2.6vw;
    padding-bottom: 1vw;
    width: 36vw;
    font-family: 'Concert One', cursive;
    text-align: center;
}

.buttons {

    width: 38vw;
    padding-left: 5vw;

}
.btn1 {
    background-color: rgb(47, 34, 109);
    color: white;
    padding: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7vw;
}
.btn2 {
    background-color: rgb(47, 34, 109);
    color: white;
    padding: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7vw;
}
.btn1:hover {
    background-color: rgb(219, 199, 13);
    color: rgb(0, 0, 0);
    padding: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7vw;
}
.btn2:hover {
    background-color: rgb(219, 199, 13);
    color: rgb(0, 0, 0);
    padding: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7vw;
}



/* 2- WELCOME TO ZIPPY */
.heading2 {
    font-size: 5.5vw;
    font-family: 'Concert One', cursive;
}
.info {
    width: 26vw;
    margin-top: 2.6vw;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    margin-bottom: 0.8vw;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2vw;
}
.pic{
    width: 35vw;
}
.pic img
{
    width:30vw;
}
.contactinfo1 img
{
    width: 7vw;
}
.contact-info-info {
    margin-top: 1vw;
    color: purple;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.6vw;
}
.contact_info button {
    background-color: rgb(47, 34, 109);
    color: rgb(240, 240, 240);
    padding: 0.7vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 3vw;
}

/* THIRD SECTION */
.cards
{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:1vw;
}
.third-section img {
    width: 42.3vw;
    height: 49.5vw;
}
.card-info-heading {
    padding-top: 1vw;
    font-size: 2.4vw;
    font-family: 'Concert One', cursive;
}
.card-info-info {
    text-align: center;
    padding: 1.5vw;
    font-size: 1.9vw;
    font-family: 'PT Sans', sans-serif;
}
.third-section button {
    padding: 0.7vw;
    font-size: 1.7vw;
    font-family: 'Oxygen', sans-serif;
    border: none;
    border-radius: 0.7vw;
}
.third-section button:hover {
    padding: 0.7vw;
    font-size: 1.7vw;
    font-family: 'Oxygen', sans-serif;
    border: none;
    border-radius: 0.7vw;
}
.projects-heading {
    /* border: 2px solid red; */
    font-size: 4.8vw;
    padding-bottom: 1vw;
    width: 36vw;
    font-family: 'Concert One', cursive;
    text-align: center;
    /* margin-top: 4vw; */
}

/* Fourth section */
.pricing-head {
    margin-top: 1vw;
    color: purple;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.7vw;
    width: 18vw;
    text-align: center;
}
.content1, .content2, .content3 {
    padding-left: 7vw;
    padding-right: 5vw;
    padding-bottom: 0px;
    margin-bottom: 8vw;
    width: 30vw;
}
.sub-head {
    padding-bottom: 1vw;
    font-size: 1.4vw;
    padding-top: 1vw;
}
.content-content {
    margin-bottom: 2vw;
    line-height: 4.4vw;
    font-size: 2.5vw;
}
.pricing button:hover {
    background-color: rgb(206, 196, 63);
    color: rgb(0, 0, 0);
    padding: 0.2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}
.pricing button a
{
    font-size: 3vw;
}
/* VEDIO PROJECTS */
.vedio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b036f;
    color: white;
    height: 47vw;
}
.vedio .head {
    margin-top: 3vw;
    font-size: 3.5vw;
    padding-bottom: 1vw;
}
.vedios
{
    display:grid;
}
.vedio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b036f;
    color: white;
    height: 155vw;
}
.absolute {
    cursor: pointer;
    position: absolute;
    top: 14vw;
    left: 28vw;
}
.title {
    margin-right: 45vw;
}
audio, canvas, progress, video {
    display: inline-block;
    width: 64vw;
}
.title, .time
{
    font-size: 2.5vw;
}
.absolute img
{
    filter: invert(50%);
    width: 8vw;
}

/* ZIPPY TEAM */
.section img {
    width: 22vw;
    height: 22vw;
    border-radius: 13vw;
}
.account img {
    width: 5vw;
    height: 5vw;
    margin: 0.3vw;
    opacity: 0;
    filter: invert(100%);
}
.zippyteamheading {
    font-size: 5vw;
    padding-bottom: 3vw;
    /* width: 36vw; */
    margin-top: 4vw;
    font-family: 'Concert One', cursive;
}

/* LIFE IN ZIPPY */
.life_in_zippy_heading 
{
    font-size: 6vw;
    padding-bottom: 1vw;
    width: 36vw;
    /* margin-top: 5vw; */
    /* border: 2px solid red; */
    font-family: 'Concert One', cursive;
}
.show_big img {
    width: 81vw;
}
.slideshow img {
    width: 14vw;
}
.lifeinzippy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vw;
    background-color: rgba(197, 189, 189, 0.822);
}
#pre {
    width: 4.6vw;
    padding: 1.6vw 0px;
    background-color: black;
    margin-right: 1vw;
    height: 9.5vw;
}
#nex {
    width: 4.6vw;
    padding: 1.6vw 0px;
    background-color: black;
    margin-left: 1vw;
    height: 9.5vw;
}
#pre:hover
{
    width: 4.6vw;
    padding: 1.6vw 0px;
    background-color: rgba(54, 18, 214, 0.856);
    margin-right: 1vw;
    height: 9.5vw;
}
#nex:hover 
{
    width: 4.6vw;
    padding: 1.6vw 0px;
    background-color: rgba(54, 18, 214, 0.856);
    margin-left: 1vw;
    height: 9.5vw;
}

/* NEWS LETTER */
.newsletter {
    background-image: url("https://i.ibb.co/RCPjmqh/phone-background.png"); 
    background-size: cover;
    height: 35vw;
}
#signup {
    font-size: 1.8vw;
    height: 5.8vw;
    width: 59vw;
    opacity: 0.8;
    margin-top: 2vw;
}
.btn {
    height: 5.6vw;
    width: 12vw;
    opacity: 0.8;
    background-color: #5822aff7;
    color: white;
    margin-top: 2vw;
    font-size: 1.3vw;
    border: none;
    cursor: pointer;
}
.btn:hover 
{
    height: 5.6vw;
    width: 12vw;
    opacity: 0.8;
    color: white;
    margin-top: 2vw;
    font-size: 1.3vw;
    border: none;
    background-color: #f0c349ea;
    cursor: pointer;
}

/* BLOG */
.blogheading {
    font-size: 7vw;
    margin-top: 2vw;
    padding-bottom: 3vw;
}
.blog img {
    width: 28vw;
}
.blog-topic {
    padding-top: 1vw;
    width: 26.2vw;
    text-align: center;
    font-size: 2vw;
}
.blog-date {
    padding: 1vw;
    opacity: 0.5;
    font-size: 1.7vw;
}
.blog-info {
    text-align: center;
    padding-bottom: 1vw;
    width: 30vw;
    font-size: 1.9vw;
}
.readmore {
    width: 14vw;
    height: 4.4vw;
    background-color: #d1cbcbbf;
    cursor: pointer;
    font-size: 1.7vw;
}