*
{
    margin: 0;
    padding: 0;
}

/* INtroduction */
.introduction
{
    padding-left:163px;
    /* background-color: blanchedalmond; */
    background-image: url("/Images/First_background.jpg");
    background-size: cover;
    height: 43vw;
}

/* header */
.header
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 140px;
    padding-top: 36px;
    margin-left:143px;
}
.nav
{
    /* border: 2px solid black; */
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.company-name
{
    position: relative;
    bottom: 13px;
    right: 236px;
    font-size: 36px;
}

.nav-items
{
    /* border:2px solid red; */
    list-style: none;
    list-style: none;
    padding: 16px;
}
a
{
    text-decoration: none;
}


/* TEXT AREA */
.textarea
{
     display: flex;
    flex-direction: column;
    margin-left: 206px;
    width: 481px;
    height: 338px;
    /* border: 2px solid black; */
    margin-top: 31px;
}

.heading
{
    /* border:2px solid red; */
    font-size: 37px;
    padding-bottom: 15px;
    /* width: 36vw; */
}
.info-text
{
    /* border:2px solid red; */
    font-size: 19px;
    padding-bottom: 15px;
    /* width: 36vw; */
}
.buttons
{
    /* border:2px solid red; */
    padding-bottom: 15px;
    /* width: 36vw; */
}

.btn1
{
    background-color:rgb(219, 199, 13) ;
    color:black;
    padding:10px;
    border:none;
}
.btn2
{
    background-color:rgb(47, 34, 109) ;
    color:white;
    padding:10px;
    border:none;    
}


/* SECOND SECTION */

.second-section
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    /* height: 34vw; */
    /* width: 40vw; */
    /* padding: 18vw; */
    padding-top: 4vw;
    align-content: center;
}

.heading2
{
    font-size: 42px;
}

.second-section2
{
    padding-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;*/
}

.contact_info
{
    display:flex;
    justify-content:center ;
    align-items:center;
    /* flex-direction: column; */
    margin:27px;
}

.contactinfo1
{
    display:flex;
    justify-content:center ;
    align-items:center;
    flex-direction: column;

}
.info
{
    width:13vw;
    margin-top:36px;
    margin-left:36px;
    margin-right:36px;
    margin-bottom: 10px;
    text-align: center;
}
.contact-info-info
{
    margin-top:20px;
}

.contact_info button
{
    background-color:rgb(219, 199, 13) ;
    color:black;
    padding:10px;
    border:none;
}

/* THIRD SECTION */
.third-section
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards
{
    /* border:2px solid red; */
    display:flex;
    margin: 97px;
    margin-top: 10px;

}
.cards1, .cards2 , .cards3, .cards4
{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 21px;
    
}

.card-info-info
{
    /* text-align:center; */
    padding:20px;
}

.card-info-heading
{
    padding:1vw;
    font-size: 24px;
}

.third-section img
{
    width: 313px;
    height: 400px;
}
.third-section button
{
    padding:5px;
}

/* THIRD SECTION */
.pricing
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:200px;
    margin-right: 200px;
    text-align: center;
}

.content1, .content2, .content3
{
    padding-left: 100px;
    padding-right: 100px;
    /* padding-bottom: 100px; */
    margin-bottom: 98px;
}
.content1
{
    border-right:3px solid rgba(0, 0, 0, 0.507);
}

.content2
{
    border-right:3px solid rgba(0, 0, 0, 0.507);
}

.head
{
    padding-bottom:10px;
}
.sub-head
{
    padding-bottom:10px;
    font-size: 10px;
}
.pricing button
{
    background-color: rgb(47, 34, 109);
    color: white;
    padding: 3px;
    padding-left: 29px;
    padding-right: 29px;
    border: none;
}
.content-content
{
    margin-bottom: 26px;
    line-height: 31px;
}

/* VEDIO PROJECTS */
.vedio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b036f;
    
}
.vedios
{
    display:flex;
    margin: 10px;
}
.v1, .v2, .v3
{
    display: flex;
    flex-direction: column;
    padding: 22px;
    position:relative;
}
.controls
{
    display:flex;
    flex-direction: row;
}
.title
{
    margin-right: 21vw;

}
.absolute
{
    position: absolute;
    top: 115px;
    left: 201px;
}
.absolute img
{
    filter: invert(70%);
}
.vedios button
{
    border:none;
}