*
{
    margin: 0;
    padding: 0;
}

/* INtroduction */
.introduction
{
    padding-left:163px;
    /* background-color: blanchedalmond; */
    background-image: url("/Images/First_background.jpg");
    background-size: cover;
    height: 43vw;
}

.introduction2
{
    padding-left:163px;
    /* background-color: blanchedalmond; */
    background-image: url("/Images/bg2.jpg");
    background-size: cover;
    height: 43vw;
}
.introduction3
{
    padding-left:163px;
    /* background-color: blanchedalmond; */
    background-image: url("/Images/bg3.jpg");
    background-size: cover;
    height: 43vw;
}
/* header */
.header
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 140px;
    padding-top: 36px;
    margin-left:143px;
}
.nav
{
    /* border: 2px solid black; */
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.company-name
{
    position: relative;
    bottom: 13px;
    right: 236px;
    font-size: 36px;
}

.nav-items
{
    /* border:2px solid red; */
    list-style: none;
    list-style: none;
    padding: 16px;
}
a
{
    text-decoration: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0d0e1186;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* TEXT AREA */
.textarea
{
     display: flex;
    flex-direction: column;
    margin-left: 206px;
    width: 481px;
    height: 338px;
    /* border: 2px solid black; */
    margin-top: 31px;
}

.heading
{
    /* border:2px solid red; */
    font-size: 37px;
    padding-bottom: 15px;
    /* width: 36vw; */
}
.info-text
{
    /* border:2px solid red; */
    font-size: 19px;
    padding-bottom: 15px;
    /* width: 36vw; */
}
.buttons
{
    /* border:2px solid red; */
    padding-bottom: 15px;
    /* width: 36vw; */
}

.btn1
{
    background-color:rgb(219, 199, 13) ;
    color:black;
    padding:10px;
    border:none;
}
.btn2
{
    background-color:rgb(47, 34, 109) ;
    color:white;
    padding:10px;
    border:none;    
}


/* SECOND SECTION */

.second-section
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    /* height: 34vw; */
    /* width: 40vw; */
    /* padding: 18vw; */
    padding-top: 4vw;
    align-content: center;
}

.heading2
{
    font-size: 42px;
}

.second-section2
{
    padding-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;*/
}

.contact_info
{
    display:flex;
    justify-content:center ;
    align-items:center;
    /* flex-direction: column; */
    margin:27px;
}

.contactinfo1
{
    display:flex;
    justify-content:center ;
    align-items:center;
    flex-direction: column;

}
.info
{
    width:13vw;
    margin-top:36px;
    margin-left:36px;
    margin-right:36px;
    margin-bottom: 10px;
    text-align: center;
}
.contact-info-info
{
    margin-top:20px;
}

.contact_info button
{
    background-color:rgb(219, 199, 13) ;
    color:black;
    padding:10px;
    border:none;
}

/* THIRD SECTION */
.third-section
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards
{
    /* border:2px solid red; */
    display:flex;
    margin: 103px;
    margin-top: 10px;

}
.cards1, .cards2 , .cards3, .cards4
{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    
}

.card-info-info
{
    /* text-align:center; */
    padding:20px;
}

.card-info-heading
{
    padding:1vw;
    font-size: 24px;
}

.third-section img
{
    width: 313px;
    height: 400px;
}
.third-section button
{
    padding:5px;
}

/* THIRD SECTION */
.pricing
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:200px;
    margin-right: 200px;
    text-align: center;
}

.content1, .content2, .content3
{
    padding-left: 100px;
    padding-right: 100px;
    /* padding-bottom: 100px; */
    margin-bottom: 98px;
}
.content1
{
    border-right:3px solid rgba(0, 0, 0, 0.507);
}

.content2
{
    border-right:3px solid rgba(0, 0, 0, 0.507);
}

.head
{
    padding-bottom:10px;
}
.sub-head
{
    padding-bottom:10px;
    font-size: 10px;
}
.pricing button
{
    background-color: rgb(47, 34, 109);
    color: white;
    padding: 3px;
    padding-left: 29px;
    padding-right: 29px;
    border: none;
}
.content-content
{
    margin-bottom: 26px;
    line-height: 31px;
}

/* VEDIO PROJECTS */
.vedio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b036f;
    color:white;
    height: 38vw;

}
.vedios
{
    display:flex;
    margin: 10px;
}
.v1, .v2, .v3
{
    display: flex;
    flex-direction: column;
    padding: 22px;
    position:relative;
}
.controls
{
    display:flex;
    flex-direction: row;
}
.title
{
    margin-right: 21vw;

}
.absolute
{
    cursor: pointer;
    position: absolute;
    top: 115px;
    left: 201px;
}
.absolute img
{
    filter: invert(50%);
}
.vedios button
{
    border:none;
}
.vedio .head
{
    margin-top:64px;
    font-size: 37px;
    padding-bottom: 15px;
}



/* ZIPPY TEAM */
.zippyteamheading
{
    font-size: 37px;
    padding-bottom: 35px;
    /* width: 36vw; */
    margin-top: 60px;
    /* border: 2px solid red; */
}
.zippyteam
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1, .section2
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.card1, .card2, .card3
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name, .information
{
    text-align: center;
    padding-top: 15px;
}
.section img
{
    width: 240px;
    height: 240px;
    border-radius: 65%;
}
.section1-card1, .section1-card2, .section1-card3
{
    padding-right:70px;
}
.section2-card1, .section2-card2, .section2-card3
{
    padding-right:70px;
}
.accounthover1
{
    position: absolute;
    top: 14vw;
    right: 67vw;
    opacity:0;
}
.accounthover2
{
    position: absolute;
    top: 14vw;
    right: 46vw;
    opacity:0;
}
.accounthover3
{
    position: absolute;
    top: 14vw;
    right: 25vw;
    opacity:0;
}
.accounthover4
{
    position: absolute;
    top: 38vw;
    right: 67vw;
    opacity:0;
}
.accounthover5
{
    position: absolute;
    top: 38vw;
    right: 46vw;
    opacity:0;
}
.accounthover6
{
    position: absolute;
    top: 38vw;
    right: 25vw;
    opacity:0;
}

.account img, .account2 img
{
    width: 80px;
    height: 80px;
}
.account2
{
    padding-left: 49px;
}


.card1:hover
{
    background-image: url("/Images/puple.jpg");
    opacity:1;
    border-radius: 65%;
    /* transition: .5s ease; */
}
.card1:hover img
{
    opacity: 0.69;
    border-radius: 65%;
    transition: .5s ease;
}
.accounthover1:hover
{
    position: absolute;
    top: 14vw;
    right: 67vw;
    opacity:1;
    transition: .5s ease;
}
.accounthover4:hover
{
    position: absolute;
    top: 38vw;
    right: 67vw;
    opacity:1;
    transition: .5s ease;
}



.card2:hover
{
    background-image: url("/Images/puple.jpg");
    opacity:1;
    border-radius: 65%;
    /* transition: .5s ease; */
}
.card2:hover img
{
    opacity: 0.69;
    border-radius: 65%;
    transition: .5s ease;
}
.accounthover2:hover
{
    position: absolute;
    top: 14vw;
    right: 46vw;
    opacity:1;
    transition: .5s ease;
}
.accounthover5:hover
{
    position: absolute;
    top: 38vw;
    right: 46vw;
    opacity:1;
    transition: .5s ease;
}





.card3:hover
{
    background-image: url("/Images/puple.jpg");
    opacity:1;
    border-radius: 65%;
    /* transition: .5s ease; */
}
.card3:hover img
{
    opacity: 0.69;
    border-radius: 65%;
    transition: .5s ease;
}
.accounthover3:hover
{
    position: absolute;
    top: 14vw;
    right: 25vw;
    opacity:1;
    transition: .5s ease;
}
.accounthover6:hover
{
    position: absolute;
    top: 38vw;
    right: 25vw;
    opacity:1;
    transition: .5s ease;
}